@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

input {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf9f7;
  color: #000000;
  font-family: roboto, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-header {
  background-color: #383838;
}

.section-gray {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #e6e1db;
}

.section__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.section-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.section-h3, .section-gallery__header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .section-h3, .section-gallery__header {
    font-size: 18px;
  }
}

.our-mission__header {
  max-width: 1600px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/our-mission-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #383838;
}

.header-slider__pagination {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 10;
  letter-spacing: -0.03em;
  color: rgba(229, 223, 211, 0.5);
}

.header-slider__active-page {
  color: #e5dfd3;
}

.our-mission-pagination {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
  padding-bottom: 9px;
}

.section-lavanda {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-lavanda-paragraph {
  margin-top: 56px;
  width: 50%;
  margin-left: auto;
}

.section-interier {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #e6e1db;
}

.section-interier__header {
  padding-top: 15px;
}

.section-interier__block {
  display: flex;
  align-items: flex-end;
  padding-bottom: 56px;
}

.section-interier__group2:not(:last-child) {
  margin-bottom: 86px;
}

.section-interier__img {
  margin-right: 30px;
  width: 155px;
}

.section-interier__group {
  margin-bottom: 140px;
}

.section-architect {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #eae8e6;
}

.section-architect__img {
  margin-top: 56px;
  margin-bottom: 72px;
}

.section-paragraph-architect {
  margin-top: 30px;
}

.section-architect__img-block {
  padding-top: 280px;
  padding-bottom: 120px;
  position: relative;
}

.section-architect__img-absolute {
  position: absolute;
  top: 100px;
}

.section-architect__img-rel {
  margin-left: 100px;
}

.section-architect__caption {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 12px;
  transform: rotateX(90);
}

.section-architect__header-margin {
  margin-bottom: 82px;
}

.section-architect__img2 {
  margin: 0 auto;
  width: 260px;
}

.section-architect__position-imgs {
  position: relative;
  padding-top: 64px;
  padding-bottom: 210px;
}

.section-architect__img2-rel {
  width: 50%;
  margin-left: 50%;
}

.section-architect__img2-abs {
  position: absolute;
  width: 50%;
  left: 30px;
  top: 220px;
}

.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 950px) {
  .container {
    min-width: 950px;
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  margin-bottom: 100%;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 950px) {
  .navigation {
    display: none;
  }
}

.navigation__button {
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.navigation__button.btn-account {
  margin-right: 18px;
}

.navigation__button.play {
  margin-bottom: 38px;
}

.navigation__button.arrow {
  margin-right: 0 auto;
}

.nav__profile {
  display: flex;
}

.logo__mobile {
  padding-left: 27px;
}

.header__page {
  position: relative;
}

.burger-navigation__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 84px;
  padding-bottom: 201px;
  background-color: #d9d9d9;
}

.burger-navigation__container.is-open {
  display: block;
}

.burger-navigation__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.burger-navigation__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: none;
}

.burger-menu {
  margin-left: 20%;
}

.burger-menu__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  padding-bottom: 14px;
  border-bottom: 0.5px solid #000000;
}

.burger-menu__list {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.04em;
  margin-top: 32px;
}

.burger-menu__list > li::after {
  content: "→";
}

.burger-menu__list > li:not(:last-child) {
  padding-bottom: 20px;
}

.burger-menu > div:not(:last-child) {
  margin-bottom: 129px;
}

.burger-menu-span {
  display: block;
}

.header__page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 950px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/hero-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #383838;
}
@media (min-width: 950px) {
  .header__page {
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    background-image: url(../../images/imgs/header-hero-desktop.jpg);
    background-position: center;
    background-size: cover;
  }
}

.header__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 950px) {
  .header__controls {
    display: none;
  }
}

.bestseller__section {
  background-color: #fbf9f7;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
}
@media (min-width: 950px) {
  .bestseller__section {
    padding-top: 150px;
    padding-bottom: 114px;
  }
}

.bestseller__title {
  font-family: "Cormorant", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.02;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .bestseller__title {
    font-size: 70px;
    margin-bottom: 50px;
  }
}

.bestseller__description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
@media (min-width: 950px) {
  .bestseller__description {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

@media (min-width: 950px) {
  .bestseller-cards__block {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-right: 38px;
    padding-left: 38px;
    border-top: 1px solid #868483;
  }
}

.bestseller__card {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 950px) {
  .bestseller__card {
    width: calc((100% - 280px) / 3);
    max-width: 300px;
  }
}

.bestseller__card.desktop {
  display: none;
}
@media (min-width: 950px) {
  .bestseller__card.desktop {
    display: block;
  }
}

@media (min-width: 950px) {
  .bestseller__card:not(:last-child) {
    margin-right: 140px;
  }
}

.bestseller__picture-block {
  padding-top: 72px;
  padding-bottom: 50px;
  border-bottom: 1px solid #868483;
}
@media (min-width: 950px) {
  .bestseller__picture-block {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.bestseller__img {
  margin: 0 auto;
}

.bestseller__buttons-block {
  display: none;
}

.bestseller__price-block {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.bestseller__price-block {
  padding-top: 25px;
  padding-bottom: 40px;
}

.bestseller__price-block--title {
  margin-bottom: 10px;
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
}

.bestseller__price-block--name {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #868483;
}

.button {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  background-color: #fbf9f7;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}

.section-about {
  display: none;
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #e6e1db;
}
@media (min-width: 950px) {
  .section-about {
    padding-top: 180px;
    padding-bottom: 240px;
  }
}

@media (min-width: 950px) {
  .section-about__header {
    height: 20px;
  }
}

@media (min-width: 950px) {
  .section-about__description-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.section-about__main-paragraph {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 100px;
}
@media (min-width: 950px) {
  .section-about__main-paragraph {
    width: 966px;
    font-size: 82px;
    line-height: 1.02;
  }
}

@media (min-width: 950px) {
  .section-about__secondary-paragraph--margin {
    margin-left: 330px;
    display: flex;
    justify-content: space-between;
  }
}

.section-about__secondary-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
@media (min-width: 950px) {
  .section-about__secondary-paragraph {
    font-size: 16px;
    width: 416px;
  }
}

.section-about__secondary-paragraph:not(:last-child) {
  margin-bottom: 60px;
}

.section-gallery {
  display: none;
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #1c1b1a;
}
@media (min-width: 950px) {
  .section-gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-gallery__header {
  margin-bottom: 50px;
  color: rgba(229, 223, 211, 0.5);
}
@media (min-width: 950px) {
  .section-gallery__header {
    position: absolute;
  }
}

@media (min-width: 950px) {
  .section-gallery__gallery {
    position: relative;
    display: flex;
    margin-left: 220px;
  }
}

.slider-controls__position {
  position: relative;
}

.section-gallery__picture-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.margin-right-200 {
  margin-right: 200px;
}

.section-gallery__slideshow-header {
  display: none;
}
@media (min-width: 950px) {
  .section-gallery__slideshow-header {
    display: block;
    position: absolute;
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 86px;
    line-height: 0.8;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: rgba(229, 223, 211, 0.5);
  }
}

.section-gallery__slideshow-header.top {
  top: 40%;
  left: -21%;
}

.section-gallery__slideshow-header.bottom {
  top: 50%;
  left: -4%;
}

.section-gallery__slideshow-btn {
  position: absolute;
  bottom: 30%;
}

.section-gallery__slideshow-btn.rigth {
  right: 0;
}

.section-gallery__description-block {
  display: none;
}
@media (min-width: 950px) {
  .section-gallery__description-block {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(229, 223, 211, 0.5);
  }
}

.section-gallery__gallery--image {
  margin: 0 auto;
}

.section-gallery__picture-desktop {
  display: none;
}
@media (min-width: 950px) {
  .section-gallery__picture-desktop {
    display: block;
  }
}

.section-gallery__pagination {
  text-align: center;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 950px) {
  .section-gallery__pagination {
    width: 80px;
    padding-top: 0;
    padding-bottom: 9px;
  }
}

.section-gallery__pagination--page {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: rgba(229, 223, 211, 0.5);
}
.section-gallery__pagination--page.active {
  color: #e5dfd3;
}

.section-info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbf9f7;
}
@media (min-width: 950px) {
  .section-info {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.section-info__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  width: 185px;
}
@media (min-width: 950px) {
  .section-info__header {
    width: 526px;
    font-size: 70px;
    line-height: 1.02;
  }
}

.section-info__img-box {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 60px;
}

.section-info-merge-block {
  display: flex;
  flex-direction: column;
}

.section-info-img-block {
  display: flex;
  margin-bottom: 80px;
}

.section-info__img {
  margin-right: 14px;
}

.section-info__img-desktop {
  display: none;
}
@media (min-width: 950px) {
  .section-info__img-desktop {
    display: block;
    margin-left: 134px;
  }
}

.section-info__description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
@media (min-width: 950px) {
  .section-info__description {
    width: 636px;
    font-size: 16px;
  }
}

.section-info__description:not(:last-child) {
  margin-bottom: 30px;
}

.section-material {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #e6e1db;
}
@media (min-width: 950px) {
  .section-material {
    padding-top: 150px;
    padding-bottom: 240px;
  }
}

.section-material__description {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: -0.03em;
  margin-top: 60px;
  margin-bottom: 140px;
}
@media (min-width: 950px) {
  .section-material__description {
    font-size: 50px;
    max-width: 856px;
    margin-top: 80px;
    margin-bottom: 300px;
  }
}

.section-material__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .section-material__header {
    font-size: 52px;
    width: 275px;
  }
}

.section-material__img-block {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 950px) {
  .section-material__block {
    display: flex;
  }
}

.section-material__img:last-child {
  margin-top: 30px;
}
@media (min-width: 950px) {
  .section-material__img:last-child {
    margin-top: 0;
  }
}

.section-material__img:first-child {
  margin-right: 14px;
}

@media (min-width: 950px) {
  .section-material__img:not(:last-child) {
    margin-right: 24px;
  }
}

.section-material__img--caption {
  margin-top: 12px;
}

.section-material__descr-block {
  margin-top: 104px;
}
@media (min-width: 950px) {
  .section-material__descr-block {
    order: -1;
    width: 416px;
    padding-top: 232px;
    margin-top: 0;
    margin-right: 134px;
  }
}

.section-material__descr-block--header {
  width: 50%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .section-material__descr-block--header {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.section-material__descr-block--paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
@media (min-width: 950px) {
  .section-material__descr-block--paragraph {
    font-size: 16px;
  }
}

.section-material__descr-block--paragraph:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 950px) {
  .section-material__descr-block--paragraph:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer {
  padding-top: 56px;
  padding-bottom: 34px;
  background-color: #000000;
  color: #e5dfd3;
}
@media (min-width: 950px) {
  .footer {
    padding-top: 75px;
  }
}

@media (min-width: 950px) {
  .footer-flex__desktop {
    display: flex;
    align-items: baseline;
  }
}

.footer__newsletter {
  margin-bottom: 74px;
}
@media (min-width: 950px) {
  .footer__newsletter {
    margin-bottom: 82px;
    margin-right: 134px;
  }
}

.footer__newsletter--header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.02;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-bottom: 28px;
}
@media (min-width: 950px) {
  .footer__newsletter--header {
    font-size: 62px;
    margin-bottom: 52px;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__form--input {
  height: 44px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 34px;
  background-color: #000000;
  border: 0.5px solid #e5dfd3;
}
@media (min-width: 950px) {
  .footer__form--input {
    max-width: 526px;
  }
}

.footer__form--checkbox {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
@media (min-width: 950px) {
  .footer__form--checkbox {
    max-width: 526px;
    font-size: 14px;
  }
}

.footer-features__link {
  display: block;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #e5dfd3;
}
@media (min-width: 950px) {
  .footer-features__link {
    font-size: 16px;
  }
}

.footer__header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (min-width: 950px) {
  .footer__header {
    font-size: 16px;
  }
}

.footer-features {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
@media (min-width: 950px) {
  .footer-features {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 0;
  }
}

.footer-features__block {
  margin-top: 40px;
}
@media (min-width: 950px) {
  .footer-features__block {
    margin-top: 48px;
    margin-bottom: 70px;
  }
}

@media (min-width: 950px) {
  .footer-features__settings {
    order: 3;
  }
}

.footer-features > div {
  width: 50%;
}

.footer-features > div:not(:last-child) {
  margin-bottom: 80px;
}
@media (min-width: 950px) {
  .footer-features > div:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer-features__block > li:not(:last-child) {
  margin-bottom: 6px;
}
@media (min-width: 950px) {
  .footer-features__block > li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.footer-features__language {
  margin-bottom: 6px;
}
@media (min-width: 950px) {
  .footer-features__language {
    margin-bottom: 12px;
  }
}

.footer-features__item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #000000;
  color: #e5dfd3;
  border: none;
}
@media (min-width: 950px) {
  .footer-features__item {
    font-size: 16px;
  }
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid rgba(229, 223, 211, 0.5);
}

@media (min-width: 950px) {
  .footer-logo__svg {
    width: 176px;
    height: 17px;
  }
}

.footer-logo__caption {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #e5dfd3;
}
@media (min-width: 950px) {
  .footer-logo__caption {
    font-size: 16px;
  }
}

.section-design {
  padding-top: 60px;
  padding-bottom: 86px;
}

.section-design__block {
  margin-bottom: 65px;
}

.section-design__img {
  margin: 0 auto;
}

.section__header-design {
  width: 200px;
}

.section__header-philosophy {
  margin-bottom: 140px;
}

.section__header-block:not(:last-child) {
  margin-bottom: 75px;
}

.navigation-desktop {
  padding-left: 86px;
}
.navigation-desktop__block {
  display: flex;
  justify-content: end;
}

.navigation-desktop__logo {
  display: none;
  padding-top: 36px;
}

.navigation-desktop__item {
  padding-top: 86px;
  height: 100vh;
  transition: transform 500ms ease-in-out;
}
@media (min-width: 950px) {
  .navigation-desktop__item {
    padding-top: 36px;
  }
}

.navigation-desktop__item.shop {
  display: none;
}
@media (min-width: 950px) {
  .navigation-desktop__item.shop {
    display: block;
    position: absolute;
    z-index: 4;
    width: 240px;
    transform: translateX(-100px);
    padding-left: 30px;
    background-color: #eae8e6;
  }
}

.shop:hover {
  transform: translateX(-240px);
}

.navigation-desktop__item.about {
  display: none;
}
@media (min-width: 950px) {
  .navigation-desktop__item.about {
    display: block;
    transform: translateX(-10px);
    width: 248px;
    padding-left: 26px;
    padding-right: 30px;
    position: absolute;
    z-index: 5;
    background-color: #868483;
  }
}

.about:hover {
  transform: translateX(-170px);
}

.navigation-desktop__item.account {
  display: none;
  position: absolute;
  z-index: 6;
  background-color: #afafaf;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 950px) {
  .navigation-desktop__item.account {
    display: block;
    width: 455px;
    transform: translateX(280px);
  }
}

.navigation-desktop__item.account.is-open {
  width: 100%;
  top: 0;
  transform: translateX(0);
}

.navigation-desktop__item.is-open {
  display: block;
}

.account:hover {
  transform: translateX(-80px);
}

.navigation-desktop__item.basket {
  display: none;
  z-index: 7;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 35px;
  background-color: #383838;
  overflow-y: scroll;
}
@media (min-width: 950px) {
  .navigation-desktop__item.basket {
    display: block;
    width: 565px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 66px;
    transform: translateX(480px);
  }
}

.navigation-desktop__item.basket.is-open {
  display: block;
}

.basket:hover {
  transform: translateX(0);
}

.navigation-desktop__header, .navigation-desktop__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.shop__list {
  margin-top: 90px;
}

.shop__list > li:not(:last-child) {
  margin-bottom: 30px;
}

.shop__list--header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #f7f5f3;
}

.shop-item {
  width: 228px;
  height: calc((100vh - 240px) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item.scents {
  background-image: url(../../images/imgs/desktop-menu/scents-shop.jpg);
}

.shop-item.applying {
  background-image: url(../../images/imgs/desktop-menu/applying-shop.jpg);
}

.shop-item.all {
  background-image: url(../../images/imgs/desktop-menu/all-shop.jpg);
}

.navigation-desktop__section-about {
  padding-top: 145px;
}

.about-paragraph.arrow::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 12px;
  background-image: url("../../images/section-about-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.about-header {
  font-family: "Cormorant";
  font-weight: 600;
  font-size: 38px;
  letter-spacing: -0.03em;
  width: 110px;
  margin-bottom: 45px;
}

.about-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  width: 190px;
  letter-spacing: 0.02em;
}

.about-paragraph:not(:last-child) {
  margin-bottom: 25px;
}

.flex-space-between-position {
  display: flex;
  justify-content: space-between;
}

.navigation-desktop__button {
  padding: 0;
  order: -1;
}

.account__sign-in-form {
  display: none;
}

.account__sign-in-form--input {
  width: 340px;
  height: 50px;
  padding-left: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  background: rgba(247, 245, 243, 0.7);
}

.account__sign-in-form--input.margin-bottom-40 {
  margin-bottom: 40px;
}

.account__sign-in-form--input::-moz-placeholder {
  color: #000000;
}

.account__sign-in-form--input:-ms-input-placeholder {
  color: #000000;
}

.account__sign-in-form--input::placeholder {
  color: #000000;
}

.account__sign-in-form--paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #060606;
}

.account__sign-in-form--btn {
  width: 340px;
  height: 50px;
  margin-top: 26px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #f7f5f3;
  background: #000000;
}

.forgot-pass {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 30px;
  margin-bottom: 55px;
}

.account-block {
  padding-right: 43px;
  padding-left: 43px;
  padding-top: 150px;
}

.account-block__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.3);
}

.btn-position {
  margin-bottom: 32px;
}

.account-block__btn.active {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.color-white {
  color: #e5dfd3;
}

.basket-block {
  padding-top: 19px;
}
@media (min-width: 950px) {
  .basket-block {
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.basket-item {
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #e5dfd3;
}

.basket-item:last-child {
  border-bottom: 1px solid #e5dfd3;
}

.basket-item__title {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 20px;
  color: #e5dfd3;
}
@media (min-width: 950px) {
  .basket-item__title {
    font-size: 24px;
  }
}

.basket-item__name {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  color: #afafaf;
}
@media (min-width: 950px) {
  .basket-item__name {
    font-size: 14px;
  }
}

.basket-item__price {
  height: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #e5dfd3;
}

.basket-item__block-position {
  display: flex;
  justify-content: space-between;
}

.basket-name-position {
  display: flex;
}

.basket-price__block-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-top: 7px;
  padding-bottom: 15px;
}

.basket-item__img {
  margin-right: 46px;
}

.basket-item__amount-block {
  display: flex;
  align-items: center;
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 22px;
  color: #e5dfd3;
}

.basket-item__amount-btn {
  width: 14px;
  height: 20px;
}

.basket-item__amount {
  margin-left: 18px;
  margin-right: 18px;
}

.basket-item__remove-btn {
  height: 14px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #afafaf;
}
@media (min-width: 950px) {
  .basket-item__remove-btn {
    font-size: 14px;
  }
}

.basket-item__name-block {
  padding-bottom: 31px;
}

.basket-block__dilivery--option {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #afafaf;
}

.basket-block__dilivery--option.select {
  background-color: transparent;
  border: none;
}

.flex-space-between-position {
  display: flex;
  justify-content: space-between;
}

.basket-block__total {
  margin-top: 18px;
  margin-bottom: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5dfd3;
}
@media (min-width: 950px) {
  .basket-block__total {
    padding-bottom: 26px;
    margin-top: 25px;
    margin-bottom: 58px;
  }
}

.basket-block__total-header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 24px;
  color: #e5dfd3;
}

.basket-block__total-sum {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #e5dfd3;
}

.basket-block__btn {
  width: 100%;
  height: 50px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #e5dfd3;
  border: 0.5px solid #e5dfd3;
}
@media (min-width: 950px) {
  .basket-block__btn {
    height: 62px;
  }
}/*# sourceMappingURL=main.css.map */