h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

input {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf9f7;
  color: #000000;
  font-family: roboto, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-header {
  background-color: #383838;
}

.section-gray {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #e6e1db;
}

.section__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.section-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.section-h3, .section-gallery__header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.our-mission__header {
  max-width: 1600px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/our-mission-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #383838;
}

.header-slider__pagination {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 10;
  letter-spacing: -0.03em;
  color: rgba(229, 223, 211, 0.5);
}

.header-slider__active-page {
  color: #e5dfd3;
}

.our-mission-pagination {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
  padding-bottom: 9px;
}

.section-lavanda {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-lavanda-paragraph {
  margin-top: 56px;
  width: 50%;
  margin-left: auto;
}

.section-interier {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #e6e1db;
}

.section-interier__header {
  padding-top: 15px;
}

.section-interier__block {
  display: flex;
  align-items: flex-end;
  padding-bottom: 56px;
}

.section-interier__group2:not(:last-child) {
  margin-bottom: 86px;
}

.section-interier__img {
  margin-right: 30px;
  width: 155px;
}

.section-interier__group {
  margin-bottom: 140px;
}

.section-architect {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #eae8e6;
}

.section-architect__img {
  margin-top: 56px;
  margin-bottom: 72px;
}

.section-paragraph-architect {
  margin-top: 30px;
}

.section-architect__img-block {
  padding-top: 280px;
  padding-bottom: 120px;
  position: relative;
}

.section-architect__img-absolute {
  position: absolute;
  top: 100px;
}

.section-architect__img-rel {
  margin-left: 100px;
}

.section-architect__caption {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 12px;
  transform: rotateX(90);
}

.section-architect__header-margin {
  margin-bottom: 82px;
}

.section-architect__img2 {
  margin: 0 auto;
  width: 260px;
}

.section-architect__position-imgs {
  position: relative;
  padding-top: 64px;
  padding-bottom: 210px;
}

.section-architect__img2-rel {
  width: 50%;
  margin-left: 50%;
}

.section-architect__img2-abs {
  position: absolute;
  width: 50%;
  left: 30px;
  top: 220px;
}

.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  margin-bottom: 100%;
  padding-left: 18px;
  padding-right: 18px;
}

.navigation__button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.navigation__button.play {
  margin-bottom: 38px;
}

.navigation__button.arrow {
  margin-right: 0 auto;
}

.nav__profile {
  display: flex;
}

.logo__mobile {
  padding-right: 60px;
  padding-left: 88px;
}

.header__page {
  position: relative;
}

.burger-navigation__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 84px;
  padding-bottom: 201px;
  background-color: #d9d9d9;
}

.burger-navigation__container.is-open {
  display: block;
}

.burger-navigation__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.burger-navigation__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: none;
}

.burger-menu {
  margin-left: 20%;
}

.burger-menu__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  padding-bottom: 14px;
  border-bottom: 0.5px solid #000000;
}

.burger-menu__list {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.04em;
  margin-top: 32px;
}

.burger-menu__list > li:not(:last-child) {
  padding-bottom: 20px;
}

.burger-menu > div:not(:last-child) {
  margin-bottom: 129px;
}

.burger-menu-span {
  display: block;
}

.header__page {
  max-width: 1600px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/hero-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #383838;
}

.header__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestseller__section {
  background-color: #fbf9f7;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
}

.bestseller__title {
  font-family: "Cormorant", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.02;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

.bestseller__description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.bestseller__picture-block {
  padding-top: 72px;
  padding-bottom: 55px;
  border-bottom: 1px solid #868483;
}

.bestseller__img {
  margin: 0 auto;
}

.bestseller__buttons-block {
  display: none;
}

.bestseller__price-block {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.bestseller__price-block {
  padding-top: 26px;
  padding-bottom: 50px;
}

.bestseller__price-block--title {
  margin-bottom: 10px;
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
}

.bestseller__price-block--name {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #868483;
}

.button {
  width: 339px;
  height: 50px;
  border: 1px solid #000000;
  background-color: #fbf9f7;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}

.section-about {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #e6e1db;
}

.section-about__main-paragraph {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 100px;
}

.section-about__secondary-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-about__secondary-paragraph:not(:last-child) {
  margin-bottom: 60px;
}

.section-gallery {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #1c1b1a;
}

.section-gallery__header {
  margin-bottom: 60px;
  color: rgba(229, 223, 211, 0.5);
}

.section-gallery__gallery--image {
  margin: 0 auto;
}

.section-gallery__pagination {
  text-align: center;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
  padding-top: 60px;
  padding-bottom: 40px;
}

.section-gallery__pagination--page {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: rgba(229, 223, 211, 0.5);
}
.section-gallery__pagination--page.active {
  color: #e5dfd3;
}

.section-info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbf9f7;
}

.section-info__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  width: 185px;
}

.section-info__img-box {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 60px;
}

.section-info__img {
  margin-right: 14px;
}

.section-info__description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-info__description:not(:last-child) {
  margin-bottom: 30px;
}

.section-material {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #e6e1db;
}

.section-material__description {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: -0.03em;
  margin-top: 60px;
  margin-bottom: 140px;
}

.section-material__header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

.section-material__img-block {
  display: flex;
}

.section-material__img-block:not(:last-child) {
  margin-bottom: 30px;
}

.section-material__img {
  margin-right: 14px;
}

.section-material__img--caption {
  margin-top: 12px;
}

.section-material__descr-block {
  margin-top: 104px;
}

.section-material__descr-block--header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-material__descr-block--paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-material__descr-block--paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.footer {
  padding-top: 56px;
  padding-bottom: 34px;
  background-color: #000000;
  color: #e5dfd3;
}

.footer__newsletter {
  margin-bottom: 74px;
}

.footer__newsletter--header {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.02;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.footer__form- {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__form--input {
  height: 44px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 34px;
  background-color: #000000;
  border: 0.5px solid #e5dfd3;
}

.footer__form--checkbox {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-features__link {
  display: block;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #e5dfd3;
}

.footer__header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer-features {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
}

.footer-features__block {
  margin-top: 40px;
}

.footer-features > div {
  width: 50%;
}

.footer-features > div:not(:last-child) {
  margin-bottom: 80px;
}

.footer-features__link:not(:last-child) {
  margin-bottom: 6px;
}

.footer-features__language {
  margin-bottom: 6px;
}

.footer-features__item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #000000;
  color: #e5dfd3;
  border: none;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.footer-logo__caption {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #e5dfd3;
}

.section-design {
  padding-top: 60px;
  padding-bottom: 86px;
}

.section-design__block {
  margin-bottom: 65px;
}

.section-design__img {
  margin: 0 auto;
}

.section__header-design {
  width: 200px;
}

.section__header-philosophy {
  margin-bottom: 140px;
}

.section__header-block:not(:last-child) {
  margin-bottom: 75px;
}/*# sourceMappingURL=main.css.map */