.our-mission__header {
  max-width: 1600px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/our-mission-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-gray-color;
}
.header-slider__pagination {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 10;
  letter-spacing: -0.03em;

  color: $gallery-text-color;
}
.header-slider__active-page {
  color: $gallery-page-color;
}
.our-mission-pagination {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);
  padding-bottom: 9px;
}
.section-lavanda {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-lavanda-paragraph {
  margin-top: 56px;
  width: 50%;
  margin-left: auto;
}
.section-interier {
  padding-top: 100px;
  padding-bottom: 80px;

  background-color: $gray-background-color;
}
.section-interier__header {
  padding-top: 15px;
}
.section-interier__block {
  display: flex;
  align-items: flex-end;
  padding-bottom: 56px;
}
.section-interier__group2:not(:last-child) {
  margin-bottom: 86px;
}
.section-interier__img {
  margin-right: 30px;
  width: 155px;
}
.section-interier__group {
  margin-bottom: 140px;
}
.section-architect {
  padding-top: 100px;
  padding-bottom: 140px;

  background-color: $secondary-gray-background-color;
}
.section-architect__img {
  margin-top: 56px;
  margin-bottom: 72px;
}
.section-paragraph-architect {
  margin-top: 30px;
}
.section-architect__img-block {
  padding-top: 280px;
  padding-bottom: 120px;

  position: relative;
}
.section-architect__img-absolute {
  position: absolute;

  top: 100px;
}
.section-architect__img-rel {
  margin-left: 100px;
}

.section-architect__caption {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 10px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 12px;

  transform: rotateX(90);
}
.section-architect__header-margin {
  margin-bottom: 82px;
}
.section-architect__img2 {
  margin: 0 auto;
  width: 260px;
}
.section-architect__position-imgs {
  position: relative;

  padding-top: 64px;
  padding-bottom: 210px;
}
.section-architect__img2-rel {
  width: 50%;
  margin-left: 50%;
}
.section-architect__img2-abs {
  position: absolute;

  width: 50%;
  left: 30px;
  top: 220px;
}
