.section-design {
  padding-top: 60px;
  padding-bottom: 86px;
}
.section-design__block {
  margin-bottom: 65px;
}
.section-design__img {
  margin: 0 auto;
}
.section__header-design {
  width: 200px;
}
