.section-gray {
  padding-top: 100px;
  padding-bottom: 160px;

  background-color: $gray-background-color;

  @include for-size(desktop) {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.section__heading-philosophy {
  margin-bottom: 140px;

  @include for-size(desktop) {
    width: 966px;
    margin-bottom: 160px;
  }
}
.section__heading-block {
  width: 306px;
}
.section__heading-block:not(:last-child) {
  margin-bottom: 75px;
}
.section-gray__content-position {
  @include for-size(desktop) {
    display: flex;
    justify-content: space-around;
  }
}
