.section-lavanda {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  @include for-size(desktop) {
    display: flex;
    padding-top: 151px;
    padding-bottom: 256px;
  }
}

.section-lavanda__block {
  @include for-size(desktop) {
    display: flex;
    align-items: flex-end;
  }
}
.section-lavanda-paragraph {
  margin-top: 56px;
  width: 50%;
  margin-left: auto;

  @include for-size(desktop) {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
  }
}
.lavanda-desktop-img {
  display: none;

  @include for-size(desktop) {
    display: block;
  }
}
.container-lavanda {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include for-size(desktop) {
    padding-left: 200px;
  }
}
.section-lavanda__block {
  width: 416px;
}
