.header__page {
  max-width: 1600px;

  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-gray-color;
  background-color: #fff;
  padding-bottom: 700px;
}
