.navigation-desktop {
  padding-left: 86px;

  @media (max-width: 800px) {
    display: none;
  }
}
.navigation-desktop__block {
  // position: relative;
  display: flex;
  justify-content: end;
  // justify-content: space-between;
  // overflow-x: hidden;
  // padding-top: 36px;
}
.navigation-desktop__logo {
  display: none;
  padding-top: 36px;
}
.navigation-desktop__item {
  // width: 500px;
  height: 100vh;
  padding-top: 36px;

  transition: transform 500ms ease-in-out;
}
.navigation-desktop__item.shop {
  // display: none;
  position: absolute;
  z-index: 4;
  width: 240px;
  transform: translateX(-100px);
  // transform: translateX(250%);
  padding-left: 30px;

  background-color: $secondary-gray-background-color;
}
.shop:hover {
  transform: translateX(-240px);
}
.navigation-desktop__item.about {
  // display: none;
  transform: translateX(-10px);
  width: 248px;
  padding-left: 26px;
  padding-right: 30px;
  position: absolute;
  z-index: 5;

  background-color: $secondary-text-color;
}
.about:hover {
  transform: translateX(-170px);
}
.navigation-desktop__item.account {
  // display: none;
  width: 455px;
  background-color: #afafaf;
  padding-left: 17px;
  padding-right: 17px;
  transform: translateX(280px);
  position: absolute;
  z-index: 6;
  // transform: translateX(0%);
}
.account:hover {
  transform: translateX(-80px);
}
.navigation-desktop__item.basket {
  width: 565px;
  background-color: #383838;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 66px;
  transform: translateX(480px);
  z-index: 7;
  position: absolute;

  overflow-y: scroll;
  // transform: translateX(0);
}
.basket:hover {
  transform: translateX(0);
}

.navigation-desktop__header {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;

  text-transform: uppercase;
}
