//BASKET//
.color-white {
  color: #e5dfd3;
}
.basket-block {
  padding-top: 19px;
  @include for-size(desktop) {
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.basket-item {
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #e5dfd3;
}
.basket-item:last-child {
  border-bottom: 1px solid #e5dfd3;
}
.basket-item__title {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 20px;

  color: #e5dfd3;

  @include for-size(desktop) {
    font-size: 24px;
  }
}
.basket-item__name {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;

  color: #afafaf;

  @include for-size(desktop) {
    font-size: 14px;
  }
}
.basket-item__price {
  height: 16px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;

  color: #e5dfd3;
}
.basket-item__block-position {
  display: flex;
  justify-content: space-between;
}
.basket-name-position {
  display: flex;
}
.basket-price__block-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  padding-top: 7px;
  padding-bottom: 15px;
}
.basket-item__img {
  margin-right: 46px;
}
.basket-item__amount-block {
  display: flex;
  align-items: center;

  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 22px;

  color: #e5dfd3;
}
.basket-item__amount-btn {
  width: 14px;
  height: 20px;
}
.basket-item__amount {
  margin-left: 18px;
  margin-right: 18px;
}
.basket-item__remove-btn {
  height: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;

  text-decoration-line: underline;
  color: #afafaf;

  @include for-size(desktop) {
    font-size: 14px;
  }
}
.basket-item__name-block {
  padding-bottom: 31px;
}
.basket-block__dilivery--option {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #afafaf;
}
.basket-block__dilivery--option.select {
  background-color: transparent;
  border: none;
}
.flex-space-between-position {
  display: flex;
  justify-content: space-between;
}
.basket-block__total {
  margin-top: 18px;
  margin-bottom: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5dfd3;

  @include for-size(desktop) {
    padding-bottom: 26px;
    margin-top: 25px;
    margin-bottom: 58px;
  }
}
.basket-block__total-header {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 24px;
  color: #e5dfd3;
}
.basket-block__total-sum {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;

  color: #e5dfd3;
}
.basket-block__btn {
  width: 100%;
  height: 50px;

  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #e5dfd3;

  border: 0.5px solid #e5dfd3;

  @include for-size(desktop) {
    height: 62px;
  }
}
