.navigation-desktop {
  padding-left: 86px;
  // display: none;

  @media (max-width: 950px) {
    // display: none;
  }
}

.navigation-desktop__list {
  display: none;
  @include for-size(desktop) {
    display: flex;
    justify-content: end;
  }
}
.navigation-desktop__list > li:not(:last-child) {
  margin-right: 48px;
}
.navigation-desktop__block {
  display: flex;
  justify-content: end;
}
.navigation-desktop__block.secondary {
  // justify-content: center;
  @include for-size(desktop) {
    // display: none;
  }
}
.navigation-desktop__logo {
  display: none;
  padding-top: 36px;
}
.navigation-desktop__item {
  padding-top: 86px;
  height: 100vh;
  transition: transform 500ms ease-in-out;

  @include for-size(desktop) {
    padding-top: 36px;
  }
}

//SHOP//

.navigation-desktop__item.shop {
  display: none;
  top: 0;

  @include for-size(desktop) {
    display: block;
    position: absolute;
    z-index: 4;
    width: 422px;
    transform: translateX(65px);
    padding-left: 30px;
    padding-right: 32px;

    background-color: $secondary-gray-background-color;
  }
}
.shop:hover {
  transform: translateX(-95px);
}

.navigation-desktop__item.shop.not-main-page {
  @include for-size(desktop) {
    transform: translateX(640px);
  }
}
.navigation-desktop__item.shop.is-open {
  @include for-size(desktop) {
    transform: translateX(80px);
  }
}

//ABOUT//

.navigation-desktop__item.about {
  display: none;
  top: 0;
  @include for-size(desktop) {
    display: block;
    transform: translateX(145px);
    width: 416px;
    padding-left: 26px;
    padding-right: 26px;
    position: absolute;
    z-index: 5;

    background-color: $secondary-text-color;
  }
}
.about:hover {
  transform: translateX(-10px);
}

.navigation-desktop__item.about.not-main-page {
  @include for-size(desktop) {
    transform: translateX(525px);
  }
}

.navigation-desktop__item.about.is-open {
  @include for-size(desktop) {
    transform: translateX(80px);
  }
}

//ACCOUNT//

.navigation-desktop__item.account {
  display: none;

  position: absolute;
  top: 0;
  z-index: 6;
  background-color: #afafaf;
  padding-left: 18px;
  padding-right: 18px;
  @include for-size(desktop) {
    display: block;
    width: 455px;
    transform: translateX(280px);
  }
}

.navigation-desktop__item.account.not-main-page {
  @include for-size(desktop) {
    transform: translateX(535px);
  }
}
.navigation-desktop__item.is-open {
  display: block;
}
.navigation-desktop__item.account.is-open {
  width: 100%;

  transform: translateX(0);

  @include for-size(desktop) {
    display: block;
    width: 455px;
    transform: translateX(75px);
  }
}
.account:hover {
  transform: translateX(-80px);
}

//BASKET//

.navigation-desktop__item.basket {
  display: none;
  z-index: 7;
  position: absolute;
  top: 0;
  width: 100%;

  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 35px;
  background-color: #383838;
  overflow-y: scroll;
  @include for-size(desktop) {
    display: block;
    width: 565px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 66px;
    transform: translateX(480px);
  }
}
.navigation-desktop__item.basket.not-main-page {
  @include for-size(desktop) {
    // display: none;
    transform: translateX(640px);
  }
}
.navigation-desktop__item.basket.is-open {
  display: block;

  @include for-size(desktop) {
    transform: translateX(80px);
  }
}
.basket:hover {
  transform: translateX(0);
}

.navigation-desktop__header {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;

  text-transform: uppercase;
}
