// * {
//   outline: 2px solid tomato;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: $primary-black-color;
}
input {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  background-color: transparent;
  color: $primary-black-color;
  border: none;
  cursor: pointer;
}
figure {
  margin: 0;
  padding: 0;
}
body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: roboto, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  // max-width: 100%;
  height: auto;
}

.page {
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-header {
  background-color: $primary-gray-color;
}

.section__heading {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;

  @include for-size(desktop) {
    font-size: 60px;
  }
}
.margin-bottom-30 {
  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}
.section-paragraph {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  @include for-size(desktop) {
    font-size: 16px;
  }
}
.section-paragraph:not(:last-child) {
  margin-bottom: 20px;
}
.section-h3 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  margin-bottom: 30px;

  @include for-size(desktop) {
    font-size: 16px;
  }
}
