@mixin for-size($range) {
  $mobile: 370px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == phone-only {
    @media (max-width: #{$mobile - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-landscape {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
//  @include for-size(desktop) {
//     padding: 20px;
//   }
