$primary-text-color: #000000;
$secondary-text-color: #868483;
$gallery-text-color: rgba(229, 223, 211, 0.5);
$footer-text-color: #e5dfd3;

$primary-gray-color: #383838;
$primary-black-color: #000000;
$primary-white-color: #fbf9f7;

$secondary-background-color: #f5f4fa;
$gray-background-color: #e6e1db;
$gallery-background-color: #1c1b1a;
$gallery-page-color: #e5dfd3;
