.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;

  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet-portrait) {
    width: 480px;
  }
  @include for-size(tablet-landscape) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
