.footer {
  padding-top: 56px;
  padding-bottom: 34px;

  background-color: $primary-black-color;
  color: $footer-text-color;
}

.footer__newsletter--header {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.02;

  letter-spacing: -0.03em;
  text-transform: capitalize;
}
.footer__form- {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__form--input {
  height: 44px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;

  display: block;

  background-color: $primary-black-color;
  border: 0.5px solid #e5dfd3;
}

.footer__form--checkbox {
  font-family: 'Roboto';

  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;

  letter-spacing: 0.04em;
}
.footer-features__link {
  font-family: 'Roboto';

  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: $footer-text-color;
}
.footer__header {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
