.header__page {
  // display: none;
  max-width: 600px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/imgs/hero-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-gray-color;

  @include for-size(desktop) {
    overflow-x: hidden;
    max-width: 1920px;
    height: 100vh;
    background-image: url(../../images/imgs/header-hero-desktop.jpg);
    // background-position: inherit;
  }
}

.header__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(desktop) {
    display: none;
  }
}
