// .header__page {
//   // display: none;

//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   max-width: 950px;

//   padding-bottom: 40px;
//   margin-right: auto;
//   margin-left: auto;
//   background-image: url(../images/imgs/hero-header.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-color: $primary-gray-color;

//   @include for-size(desktop) {
//     overflow: hidden;
//     max-width: 100%;
//     height: 100vh;

//     background-image: url(../images/imgs/header-hero-desktop.jpg);
//     background-position: center;
//     background-size: cover;
//     // background-position: inherit;
//   }
// }

.header__controls {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  display: none;
  text-align: center;
  margin: 0 auto;
  width: 80px;

  @include for-size(desktop) {
    display: none;
  }
}
