.bestseller__section {
  background-color: $primary-white-color;
  padding-top: 60px;
  padding-bottom: 100px;

  text-align: center;

  @include for-size(desktop) {
    padding-top: 150px;
    padding-bottom: 114px;
  }
}
.bestseller__title {
  font-family: 'Cormorant', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.02;
  letter-spacing: -0.03em;
  margin-bottom: 30px;

  @include for-size(desktop) {
    font-size: 70px;
    margin-bottom: 50px;
  }
}

.bestseller__description {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;

  @include for-size(desktop) {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
.bestseller-cards__block {
  @include for-size(desktop) {
    display: flex;
    // justify-content: center;

    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 58px;
    padding-left: 58px;
    border-top: 1px solid #868483;
  }
}
.bestseller__card {
  max-width: 500px;
  margin: 0 auto;
  @include for-size(desktop) {
    width: calc((100% - 140px * 2) / 3);
    max-width: 300px;
  }
}
.bestseller__card.desktop {
  display: none;
  @include for-size(desktop) {
    display: block;
  }
}
.bestseller__card:not(:last-child) {
  @include for-size(desktop) {
    margin-right: 140px;
  }
}
.bestseller__card:nth-child(3n + 3) {
  @include for-size(desktop) {
    margin-right: 0;
  }
}
.bestseller__picture-block {
  padding-top: 72px;
  padding-bottom: 50px;
  border-bottom: 1px solid $secondary-text-color;

  @include for-size(desktop) {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
.bestseller__img {
  margin: 0 auto;
}
.bestseller__buttons-block {
  display: none;
}
.bestseller__price-block {
  display: flex;
  justify-content: space-between;

  text-align: left;
}
.bestseller__price-block {
  padding-top: 25px;
  padding-bottom: 40px;
}
.bestseller__price-block--title {
  margin-bottom: 10px;

  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
}
.bestseller__price-block--name {
  font-family: 'Roboto';

  font-weight: 300;
  font-size: 18px;
  color: $secondary-text-color;
}
