.section-about {
  padding-top: 100px;
  padding-bottom: 160px;

  background-color: $gray-background-color;
}
.section-about__header {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.12em;

  margin-bottom: 30px;
}
.section-about__main-paragraph {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;

  margin-bottom: 100px;
}
.section-about__secondary-paragraph {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.section-about__secondary-paragraph:not(:last-child) {
  margin-bottom: 56px;
}
