.section-gallery {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: $gallery-background-color;
}

.section-gallery__header {
  @extend .section-h3;

  margin-bottom: 60px;
  color: $gallery-text-color;
}
.section-gallery__gallery--image {
  margin: 0 auto;
}
.section-gallery__pagination {
  text-align: center;
  border-bottom: 1px solid rgba(229, 223, 211, 0.5);

  padding-top: 60px;
  padding-bottom: 40px;
}
.section-gallery__pagination--page {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.03em;

  color: $gallery-text-color;

  &.active {
    color: $gallery-page-color;
  }
}
