.section-info {
  // display: none;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $primary-white-color;

  @include for-size(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section-info__header {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: capitalize;

  width: 185px;

  @include for-size(desktop) {
    width: 526px;
    font-size: 70px;
    line-height: 1.02;
  }
}
.section-info__img-box {
  display: flex;
  align-items: flex-start;

  margin-top: 40px;
}
.section-info-merge-block {
  display: flex;
  flex-direction: column;

  @include for-size(desktop) {
    flex: 0 1 49.1%;
  }
}
.section-info-img-block {
  display: flex;

  margin-bottom: 80px;

  @include for-size(desktop) {
    justify-content: center;
  }
}

.section-info__img {
  margin-right: 14px;
}
.section-info__img-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    flex: 0 1 50%;
    padding-left: 134px;
  }
}
.section-info__img-desktop img {
  width: 100%;
}

.section-info__description {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.04em;

  @include for-size(desktop) {
    width: 636px;
    font-size: 16px;
  }
}

.section-info__description:not(:last-child) {
  margin-bottom: 30px;
}
